# Authentication
# The Discord bot's authentication token
DISCORD_BOT_TOKEN=



# Channels
# The ID of the general Discord channel
GENERAL_CHANNEL_ID=

# The ID of the main support forum channel
SUPPORT_CHANNEL_ID=

# The ID of the community support forum channel
COMMUNITY_SUPPORT_CHANNEL_ID=

# The ID of a developer support channel
DEV_SUPPORT_STATION_CHANNEL_ID=

# The ID of a contributors channel
CONTRIBUTORS_CHANNEL_ID=

# The ID of a private channel for logging sensitive data
PRIVATE_DATA_CHANNEL_ID=

# The ID of a channel for automod reports
AUTOMOD_REPORT_CHANNEL_ID=



# Roles
# The ID of an authorized/moderator role
AUTHORIZED_ROLE_ID=

# The ID of an admin role for the bot
COOLBOT_ADMIN_ROLE_ID=

# The ID of a role for cloud support alerts
CLOUD_SUPPORT_ALERT_ROLE_ID=

# The ID of a role for core developer support alerts
CORE_DEVELOPER_SUPPORT_ALERT_ROLE_ID=

# The ID of the contributor role
CONTRIBUTOR_ROLE_ID=

# The ID of a role to ping for reports
REPORTS_PING_ROLE_ID=



# Threads
# The ID of a Discord thread for logging bot startup events
STARTUP_LOG_THREAD_ID=

# The ID of a Discord thread for logging post creation events
POST_CREATE_LOG_THREAD_ID=

# The ID of a thread for logging page actions
PAGE_ACTIONS_THREAD_ID=



# Tags
# The ID of a forum tag for Coolify Cloud-related threads
COOLIFY_CLOUD_TAG_ID=

# The ID of a forum tag indicating a thread is solved
SOLVED_TAG_ID=

# The ID of a forum tag indicating a thread is not solved
NOT_SOLVED_TAG_ID=

# The ID of a forum tag for threads needing developer review
NEED_DEV_REVIEW_TAG_ID=

# The ID of a forum tag for unanswered threads
UNANSWERED_TAG_ID=

# The ID of a forum tag for threads waiting for a reply
WAITING_FOR_REPLY_TAG_ID=

# The ID of a community-specific solved tag
COMMUNITY_SOLVED_TAG_ID=



# Webhooks and Notifications
# A webhook URL for sending page response notifications
PAGE_RESPONSE_WEBHOOK_URL=

# The primary topic name for ntfy notifications (alerts)
NTFY_TOPIC_NAME=

# A secondary topic name for ntfy notifications (response)
NTFY_SECOND_TOPIC=